.wrapper > div {
    padding: 10px 20px;
    color: #000;
  }

  .wrapper-dark > div {
    padding: 10px 20px;
    color: #000;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    width:900px;
    max-height:1250px;
    border:1px solid #cdcdcd;
    z-index: 999;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
  }

  .wrapper-dark {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    width:900px;
    max-height:1250px;
    border:1px solid #cdcdcd;
    z-index: 999;
    background: #444;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
  }

  .header{
    grid-column: 1 / 4;
    grid-row: 1;
    display:flex;
    height:40px;
    justify-content: space-between;
    align-items: center;
    background: #CDCDCD;
    font-weight:700;
  }


  .select-client-component{
    grid-column: 1;
    grid-row: 2;
  }

  .project-name-component{
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .project-desc-component{
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .date-start{
    grid-column: 2;
    grid-row: 2;
    font-weight: 600;
    color:#cdcdcd;
  }

  .date-end{
    grid-column: 3 / 4;
    grid-row: 2;
    font-weight: 600;
  }

  .project-type-component{
    grid-column: 1;
    grid-row: 3;
    margin-left:10px;
  }

  .project-status-component{
    grid-column: 1;
    grid-row: 4;
    margin-left:10px;
  }

  .percentage-complete-component{
    grid-column: 2 / 4;
    grid-row: 5;
  }

  .It-contacts-component{
    grid-column: 1;
    grid-row: 5;
    margin-left:10px;
  }

  .estimated-time-hours-component{
    grid-column: 2;
    grid-row: 6;
    display: flex;
    flex-direction: column;
  }
  .estimated-time-hours-component > div:first-child{
    margin-bottom:10px;
  }

  .cost-per-hour-component{
    grid-column: 3;
    grid-row: 6;
    display: flex;
    flex-direction: column;
  }


  .cost-per-hour-component > div:first-child{
    margin-bottom:10px;
  }

  .contact-container{
    grid-column: 1;
    grid-row: 7;
  }

  .actual-time-hours-component{
    grid-column: 2;
    grid-row: 6;
  }
  .supplier-company-component{
    grid-column: 1;
    grid-row:6;
    display: flex;
    flex-direction: column;
  }

  .contact-container{
    grid-column: 1 / 4;
  }

  .contact-container-grid{
    display: grid;
    margin-left:20px;

  }

  .client-contact-component{
    grid-column: 1;
    grid-row: 1;
  }

  .supplier-contact-component{
    grid-column: 2;
    grid-row: 1;
  }

  .erp-contact-component{
    grid-column: 3;
    grid-row: 1;
  }

  .contact-container-header{
    grid-column:1;
    grid-row:1;
    font-weight: 600;
    margin-bottom:20px;
    margin-left:10px;
  }

  .submit-container{
    grid-column: 3;
    grid-row:8;
  }

  .new-project-modal-close{
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .modal_new_project_close{
    display:flex;
    justify-content: center;
    align-items: center;
  }