.project-desc-container:last-child{
    margin-bottom:1rem;
}


.project-notes-text{
    width:120px;
}


.project-notes-container{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}