



.checkboxes-row{
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  
  .checkboxes-text{
    margin-left:10px;
    line-height: 1.5em;
    margin-bottom:5px;
    font-weight: 400;
    color:#333;
  }
  
  .contact-checkbox[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color:#fff;
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: #1976d2;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid #cdcdcd;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    
    display: grid;
    place-content: center;
  }
  
  .contact-checkbox[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: #fff;
  }
  
  .contact-checkbox[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: #1976d2;
  }
  
  .contact-checkbox[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  
  